@namespace ShadCn.Blazor.Components

<label class="@ComputedClass" for="@For" @attributes="AdditionalAttributes">
    @ChildContent
</label>

@code {
    [Parameter] public string? For { get; set; }
    [Parameter] public string? Class { get; set; }
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter(CaptureUnmatchedValues = true)] public Dictionary<string, object>? AdditionalAttributes { get; set; }

    private string ComputedClass => new ClassBuilder("text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70")
        .Add(Class)
        .Build();
}
