<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="_content/ShadCn.Blazor.Theme.Default/theme.css" />
    <link rel="stylesheet" href="css/app.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <link href="ShadCn.Blazor.Docs.Client.styles.css" rel="stylesheet" />
    <HeadOutlet @rendermode="InteractiveWebAssembly" />
</head>

<body class="min-h-screen bg-background font-sans antialiased">
    <Routes @rendermode="InteractiveWebAssembly" />
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
