@namespace ShadCn.Blazor.Components

<span @onclick="HandleClick" style="cursor: pointer;">
    @ChildContent
</span>

@code {
    [CascadingParameter] public Popover? Popover { get; set; }
    [Parameter] public RenderFragment? ChildContent { get; set; }

    private async Task HandleClick()
    {
        if (Popover != null)
        {
            await Popover.Toggle();
        }
    }
}
