@namespace ShadCn.Blazor.Components.ButtonGroup
@using ShadCn.Blazor.Primitives.Utilities

<span class="@ComputedClass" @attributes="AdditionalAttributes">
    @ChildContent
</span>

@code {
    [Parameter] public string? Class { get; set; }
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter(CaptureUnmatchedValues = true)] public Dictionary<string, object>? AdditionalAttributes { get; set; }

    private string ComputedClass => new ClassBuilder(
        "inline-flex items-center justify-center border border-input bg-background px-3 text-sm text-muted-foreground")
        .Add(Class)
        .Build();
}
