@namespace ShadCn.Blazor.Components.Card

<div @attributes="AdditionalAttributes" class="@ComputedClass">
    @ChildContent
</div>

@code {
    private static readonly string BaseClasses = "flex items-center p-6 pt-0";

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public string? Class { get; set; }

    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object>? AdditionalAttributes { get; set; }

    private string ComputedClass => string.IsNullOrEmpty(Class) 
        ? BaseClasses 
        : $"{BaseClasses} {Class}";
}
