@namespace ShadCn.Blazor.Components.Sheet
@using ShadCn.Blazor.Primitives.Utilities

<div class="@ComputedClass" @attributes="AdditionalAttributes">
    @ChildContent
</div>

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public string? Class { get; set; }
    [Parameter(CaptureUnmatchedValues = true)] public Dictionary<string, object>? AdditionalAttributes { get; set; }

    private string ComputedClass => new ClassBuilder(
        "flex flex-col-reverse sm:flex-row sm:justify-end sm:space-x-2 mt-auto px-6 py-4 border-t bg-muted/50")
        .Add(Class)
        .Build();
}
