@namespace ShadCn.Blazor.Components.Sheet

<span @onclick="HandleClick" style="cursor: pointer;">
    @ChildContent
</span>

@code {
    [CascadingParameter] public Sheet? Sheet { get; set; }
    [Parameter] public RenderFragment? ChildContent { get; set; }

    private async Task HandleClick()
    {
        if (Sheet != null)
        {
            await Sheet.SetOpen(false);
        }
    }
}
